{% extends 'base_layout.html' %}

{% block content %}


  <div class="container-fluid background_image">
    <div class="container moveDown">
      <div class="card centerIt">
        <div class="card-body">
            <center><h2 class="card-title mb-0">Login</h2></center>
            <center>
              <div class="row changeColor">
                <form class="site-form" action="{% url 'accounts:login'%}" method="post">
                  {% csrf_token %}
                  {{form.as_p}}
                  {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{request.GET.next}}">
                </form>
              </div>
              {% endif %}
              <button class="btn btn-primary" type="submit">Login</button>
            </center>
        </div>
      </div>
    </div>
  </div>


{% endblock%}
