{% extends 'base_layout.html' %}

{% block content %}

  <div class="signupPage">


    <h1>Signup</h1>
    <form class="site-form" action="/accounts/signup/" method="post">
      {% csrf_token %}
      {{form}}
      <br>
      <!-- <input type="radio" name="" value="" required>I accept the terms and conditions -->
      <br>
      <button class="btn btn-primary" type="submit">Signup</button>
    </form>
  </div>




{% endblock%}
