{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!-- <link rel="stylesheet" href="{{ STATIC_URL }} https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }} https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- reference your copy Font Awesome here (from our CDN or by hosting yourself) -->
    <link rel="stylesheet" href="{{ STATIC_URL }} https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <title>Articles</title>
    <style>
      .flex {
        display: flex;
      }

      .inline-block {
        display: inline-block;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">

      <ul class="nav nav-pills container-fluid flex">
        <li class="nav-item" style="flex: 1">
          <a class="navbar-brand" href="{% url 'article:list' %}">Logo</a>
        </li>
        <div>
          <li class="nav-item inline-block">
            <a href="{% url 'article:create' %}">
              <button class="btn btn-warning" id="logoutNow" type="button" name="button">
                Start a discussion
              </button>
            </a>
          </li>
          <form class="form-inline inline-block" action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Logout</button>
          </form>
        </div>
      </ul>
    </nav>

    {% block content %}

    {% endblock %}

    </body>
</html>
