{% load static from staticfiles %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <!-- Custom fonts for this template -->
    <!-- <link rel="stylesheet" href="{{ STATIC_URL }} https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{% static 'coming-soon.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <title>Homepage</title>
  </head>
  <body>

  <div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
          <div class="masthead-content text-white py-5 py-md-0">
            <h1 class="mb-3">Vegan Blogging Site Coming Soon!</h1>
            <p class="mb-5">We're working hard to finish the development of this site. Our target launch date is
              <strong>December 2019</strong>!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="social-icons">
    <ul class="list-unstyled text-center mb-0">
      <li class="list-unstyled-item">
        <button type="button" class="btn btn-outline-primary">
          <a class="font" href="{% url 'accounts:signup' %}">signup</a>
        </button>
      </li>
      <li class="list-unstyled-item">
        <button type="button" class="btn btn-outline-primary">
          <a href="{% url 'accounts:login' %}">login</a>
        </button>
      </li>
    </ul>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'jquery.js' %} "></script>
  <script src="{% static 'bootstrap.bundle.js' %} "></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'coming-soon.js' %} "></script>

</body>
</html>
