/* BASE_LAYOUT */
#indent{
  padding-left: 124px;
}

hr{
  border-color: black;
}

body, html{
  margin: 0;
  padding: 0;
}

.backgroundimg{
  background-image: url(/static/pencils.jpg);
  background-size: cover;
  /* background-position: center center; */
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

/* HOMEPAGE */


/* SIGNUP */
.signupPage{
  margin-left: 30px;
}


/* LOGIN */
.moveDown{
  padding-top: 200px;
}

.centerIt{
  width: 21.5em;
  margin:0 auto;
  opacity: 0.8;

}

.background_image{
  background-image: url(/static/austinTX.JPG);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 93vh;
  width: 100%;
}


/* ARTICLE_LIST */
.giveColor{
  color: #FDC02F;

}
.downMove{
  padding-top: 20px;
}



/* ARTICLE_DETAIL */
.background_img{
  background-image: url(/static/planeWing.JPG);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 93vh;
  width: 100%;
}


/* ARTICLE_CREATE */
.bgimage{
  background-image: url(/static/notebook.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
