{% extends 'base_layout.html' %}

{% block content %}
<!-- JUMBOTRON -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Your Stories <i> from others</h1>


    <p>Freely express yourself by sharing the meals you enjoy:)</p>
    <button class="btn btn-warning" id="logoutNow" type="button" name="button">
      <a href="{% url 'article:create' %}">Start a discussion</a>
    </button>
  </div>
</div>

<!-- ARTICLES -->
<div class="container-fluid backgroundimg">
  <div class="articles downMove">
    <div class="container">
    {% for article in theArticles%}
      <div class="row col-12">
        <h2>
          <a class="giveColor" href="{% url 'article:detail' slug=article.slug%}">{{article.title}}</a>
        </h2>
      </div>

      <p>{{article.snippet}}</p>
      <p>{{article.date}}</p>
      <p>@{{article.author}}</p>

      <hr>

    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
