{% extends 'base_layout.html' %}

{% block content %}
<div class="container-fluid background_img">

  <div class="container">
    <div class="card centerIt">
      <div class="card-body">
        <h2>{{article.title}}</h2>
          <p class="giveColor">{{article.body}}</p>
          <p>{{article.date}}</p>
          <p>@{{article.author}}</p>
      </div>
    </div>
  </div>

{% endblock %}
