{% extends 'base_layout.html' %}

{% block content %}

<div class="row bgimage">
  <div class="container-fluid">
    <div class="container">
      <h2>Start a discussion</h2>
      <form action="{% url 'article:create' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" name="" value="Create">
      </form>
    </div>
  </div>
</div>



{% endblock %}
